#navBar{
    width: 100%;
    height: 70px;
    /* border: 2px solid; */
    border-radius: 5px;
    /* background-color:snow; */
    display: flex;
    border-color:#3b5998;
}
.style1{
    width: 25%;
    background-color:snow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#fbLogo{
    width: 40px; height: 40px; border-radius: 25px;
}
Input{
    border-radius: 15px;
    border:none;
    background-color: #f0f2f5;
}
#socialDiv{
    width: 50%;
    background-color: snow;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.socialImg{
    width: 40px; height: 40px; border-radius: 15px;
}
#profileImg{
    width: 40px; height: 40px; border-radius: 40px
}
#feedContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}
#links{
    width: 20%;
    background-color: #f0f2f5;
    /* border: solid 2px; */
    border-radius: 5px;
    /* border-color: #3b5998; */
    display: flex;
    flex-direction: column;
    padding-bottom: 4%;
    padding-left: 10px;
}
.linksDivStyle{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.linksText{
    font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.linkImg{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 20px;

}
#posts{  width: 58%;
    background-color: #f0f2f5;
    /* border: solid 2px; */
    border-radius: 5px;
    /* border-color: #3b5998; */
    display: flex;
    flex-direction: column;}
#postDiv{
    align-self: center; margin-top: 2%;
}
.postImg{
    border-radius: 20px; width: 125px; height: 175px;
}
#commentBoxDiv1{align-self: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    /* border: 2px solid; */
    border-radius: 10px;
    /* border-color: #2b3c63; */
    background-color: snow;
    margin-top: 5%;
}
    #commentBoxDiv2{
        width: 90%;
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        align-self: center;
        border-radius: 15px;
        /* border-color: #232e4a; */
      
    }
    #commentBoxDiv3{
        display: flex; margin-top: 1%; margin-bottom: 1%;

    }
    #commentBoxImg{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-left: 5%;
        margin-top: 5px;
    }
    #commentBox{
        margin-left: 2%;
        width: 80%;
        border-radius: 30px;
        margin-top: 1%;
        margin-bottom: 1%;
        background-color:#f0f2f5;
    }
    #commentBoxLine{
        width: 70%;
        border: 1px gray solid;
        align-self: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #commentButtonDiv{
        width: 90%;
        margin-bottom: 2%;
        display: flex;
        align-self: center;
        border-radius: 15px;
        justify-content: space-evenly;
    }
    .commentImgDiv{
        display: flex; align-items: center
    }
    .commentImg{
        width: 40px; height: 40px; margin-right: 10px
    }
    #friendListDiv{
        width: 20%;
        height: 100;
        padding-left: 10px;
        background-color: #f0f2f5;
        /* border: solid 2px; */
        border-radius: 5px;
        /* border-color: #3b5998; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #contactDiv{
        display: flex; align-items: center; margin-left: 10px
    }
.friendsImgDiv{
    display: flex; align-items: center; margin-left: 10px
}
.friendsImg{
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 20px;
}
.friendsListText{
    font-weight: bold; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#footer{
    width: 100%;
    height: 70px;
    /* border: solid 2px; */
    border-radius: 5px;
    /* border-color: #3b5998; */
    background-color: #f0f2f5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
}
.footerText{
    font-size: large; text-decoration: none
}